.horario h1{
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}
.bloco-horario {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 20%;
    float: left;
    margin: 30px 150px;
    font-family: poppinslight;
}

.bloco-horario h3{
    font-size: 20px;
    font-family: poppinsregular;
}

.bloco-horario p{
    font-size: 15px;
}


.bloco-horario img{
    width: 200px;
}

.bloco-horario p{
    text-align: center;
}