@media screen and (max-width: 1129px){
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1115px){
    header{
        flex-direction: column;
    }
}
@media screen and (max-width: 1046px){
    main{
        flex-direction: column;
    }
    h2{
        text-align: center;
    }
    main p{
        text-align: center;
        max-width: none;
    }
}
@media screen and (max-width: 982px){
    .quadProf .parte{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media screen and (max-width: 943px){
    .parte{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 847px){
    header{
        flex-direction: column;
    }
    .info-curso h1{
        text-align: center;
    }
}
@media screen and (max-width: 822px){
    .noticias-eventos-conteudo{
        margin-left: 0px;
    }
    .noticias-eventos-conteudo img{
        display: none;
    }
}

@media screen and (max-width: 760px){

    h2{
        font-size: 3.8rem;
        text-align: center;
    }

    img{
        margin-top: 60px;
    }

    ul{
        text-align: center;
    }
}

@media screen and (max-width: 613px){
    /*html{
        font-size: 50%;
    }*/
    main{
        margin: 50px 10vw;
    }
    p{
        max-width: none;
    }
    article{
        order: -1;
    }
    article img{
        display: none;
    }
    .bloco-horario img{
        width: 130%;
        height: auto;
    }
}

@media screen and (max-width: 559px){
    aside h2{
        font-size: 4em;
    }
}

@media screen and (max-width: 390px){
    .info-curso h1{
        font-size: 1.2em;
    }
}