html{
    font-size: 62.5%;
}

body{
    background-color: #00008B;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    flex-direction: row;
    line-height: 1.0rem;
}

#logo .decom{
    width: 98px;
}

#logo .ufop{
    width: 41px;
}



li{
    font-size: 1.6rem;
    display: inline-block;
    margin: 20px;
    font-weight: bold
}


a{
    color: white;
}

a:hover{
    color: #00BFFF;
    transition: 0.3s all;
}

.horario h1{
    font-size: 30px;
    text-align: center;
}
.bloco-horario {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 20%;
    float: left;
    margin: 30px 150px;
    font-family: poppinslight;
}

.bloco-horario h3{
    font-size: 1.872rem;
    font-family: poppinsregular;
}


.bloco-horario img{
    width: 200px;
}

.bloco-horario p{
    text-align: center;
}

.info-curso{
    display: inline;
    font-size: 3.6rem;
    margin: 50px 150px;
}

.info-container{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
}

.info-container p {
    max-width: none;
}

.quadro-materia{
    display: block;
    font-size: 3.6rem;
    margin: 50px 0px;
}

.quadro-materia li{
    display: block;
    margin: 30px 0px;
}

/** ICONES DE PROFESSORES **/


.professor {
    display: inline-block;
    width: 150px;
    height: 200px;
    text-align: center;
    margin-right: 12px;
    margin-top: -40px;

  }
  
  .professor img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .professor p {
    margin-top: 5px;
    font-size: 1.4rem;
    text-align: center;

  }

  .parte {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .quadProf h1{
      text-align: center;
      margin-bottom: 30px;
      font-size: 30px;
    }

  .ver-mais {
    background-color: #0066CC;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px 1px;
    margin-top: 20px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 85vh;
  }
  
  .ver-mais:hover {
    background-color: black;
  }

  /** noticias **/

  .noticias-eventos{
    text-align: center;
  }

  .noticias {
    margin-top: 20px;
  }

  .noticias-eventos h2
  {
    font-size: 40px;    

  }

  .noticias h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .noticias h4 a {
    text-decoration: none;
    color: #00BFFF;
  }
  
  .noticias h4 a:hover {
    text-decoration: underline;
  }

  .ver-mais-eventos{
    background-color: #0066CC;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px 1px;
    margin: 40px;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
  }

  .ver-mais-eventos:hover{
    background-color: black;

  }

